---
import Icon from "astro-iconify";
import { Image } from "astro:assets";
const { imgUrl, projectName, description, techStacks, github, demo } =
  Astro.props;
---

<main
  class="flex flex-col gap-10 bg-dark-component p-5 xl:p-10 rounded-md shadow-md hover:bg-dark-mode cursor-pointer transition-all duration-300"
>
  <!-- thumbnail -->
  <div class="aspect-[1414/1000] w-full rounded-md overflow-hidden">
    <Image
      src={imgUrl}
      alt={`project ${projectName}`}
      class="object-contain w-full h-full"
    />
  </div>

  <!-- description -->
  <div class="text-text-light flex-1">
    <h1 class="text-2xl font-bold">{projectName}</h1>
    <p class="text-justify">{description}</p>
    <h2 class="text-xl font-bold mt-5">Tech Stack</h2>
    <ul class="flex gap-x-2 flex-wrap">
      {
        techStacks.map((tech: string, index: number) => (
          <li>
            {tech}
            {index < techStacks.length - 1 ? " -" : ""}
          </li>
        ))
      }
    </ul>
    <ul class="flex mt-5 gap-3">
      <li>
        <a
          href={github}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-disable-text-dark"
        >
          <Icon name="ri:github-fill" size="24" />
        </a>
      </li>
      <li>
        <a
          href={demo}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-disable-text-dark"
        >
          <Icon name="tdesign:play-demo-filled" size="24" />
        </a>
      </li>
    </ul>
  </div>
</main>
